*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 0;
    background-color: black;
}

.header{
    background-color: #1f2937;
    height: 75px;
    display: flex;
    flex-direction: row;
} 

.header-logo{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
}

.menu{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
}

.section1{
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.s1heading{
    color: #f9faf8;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1para{
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.s1button{
    height: 50px;
    width: 75px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    align-items: center;
}

.s1image{
    display: flex;
    align-items: right;
    width: 250px;
    height: auto;
}