*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 0;
    background-color: black;
}

.header{
    background-color: #1f2937;
    height: 75px;
    display: flex;
    flex-direction: row;
} 

.header-logo{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
}

.menu{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
}

.section1 {
  background-color: #1f2937;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section1-left {
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  
  .section1-right {
    background-color: #1f2937;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  
  .s1heading {
    color: #f9faf8;
    font-size: 48px;
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  
  .s1para {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-left: 150px;
  }
  
  .s1button {
    height: 50px;
    width: 75px;
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    align-self: center;
    margin-left: 150px;
    margin-top: 20px;
  }
  

.s1image {
  display: flex;
  margin-left: 300px;  
  align-items: center;
  height: auto;
  width: 500px;
  object-fit: contain;
}
 
.section2 {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .s2header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
  }
  
  .s2boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .s2box {
    height: 200px;
    width: 200px;
    background-color: white;
    border: 5px solid #3882F6;
    border-radius: 20px;
    margin-right: 25px;
  }
  
  .s2box:last-child {
    margin-right: 0;
  }  

.section3{
    background-color: #E5E7EB;
    height: 500px;
}

.section4{
    background-color: white;
    height: 500px;
}

.footer{
    background-color: #1f2937;
    height: 75px;
}
